/* Reset */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: url("/static/images/background.png") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}
/* Headers */
h3 {
    margin: 0 0 6px 0;
    font-weight: bold;
    letter-spacing: 0.05em;
}

/* Main layout */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}
.output {
	border: 1px solid #0f0;
    background: #111;
    color: #0f0;
    padding: 12px;
    height: 300px;
    overflow-y: auto;
    font-family: monospace;
    font-size: 14px;
}
.status,
.match {
    background: #000;
    color: #0f0;
    font-family: monospace;
    padding: 6px 10px;
    margin: 6px 0;
    border-radius: 4px;
    font-size: 13px;
}

/* Logo */
.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 80%;
    height: auto;
}
/* Nav Buttons */
.top-nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.page-title {
    text-align: center;
    margin: 0;
}

.nav-btn {
    height: 36px;
    cursor: pointer;
    user-select: none;
}

.nav-btn:hover {
    opacity: 0.8;
}
/* Divider */
.divider {
    display: block;
    margin: 5px auto;
    max-width: 50%;   /* prevents edge-to-edge on small screens */
}

/* Menu buttons */
.menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu button {
    font-size: 1.6rem;
    padding: 20px;
    border-radius: 12px;
    border: none;
    background: #e0e0e0;
    color: #000;
    font-weight: bold;
}
/* Toggle */
.toggle-pill {
    display: inline-flex;
    justify-content: flex-end;
    border: 1px solid #e0e0e0;
    border-radius: 999px;
    overflow: hidden;
    background: #000;
    font-family: monospace;
	margin-left: right;
	letter-spacing: 0.08em;
    font-size: 13px;
}

.toggle-pill input {
    display: none;
}

.toggle-pill label {
    padding: 6px 14px;
    cursor: pointer;
    color: #e0e0e0;
    transition: background 0.15s ease, color 0.15s ease;
    user-select: none;
}

.toggle-pill input:checked + label {
    background: #e0e0e0;
    color: #000;
}

/* Bottom bar */
.bottom-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.bottom-bar button {
    flex: 1;
    margin: 0 5px;
    padding: 15px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-top: 10px;
}
