<!DOCTYPE html>
<html>
<head>
    <title>AmuseTechTools</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="header">
    <img src="/static/img/logo.png" class="logo">
</div>

<div class="content">
    {% block content %}{% endblock %}
</div>

<div class="bottom-bar">
    <button onclick="sys('exit_browser')">Exit Browser</button>
    <button onclick="sys('reboot')">Reboot Pi</button>
    <button onclick="sys('shutdown')">Shutdown Pi</button>
</div>

<div class="footer">
    Version {{ version }}
    <button onclick="sys('update')">Update from GitHub</button>
</div>

<script>
function sys(action) {
    fetch("/system/" + action, { method: "POST" });
}
</script>

</body>
</html>
